.reg-component {
    margin: auto;
    display: flex;
    width: 60%;
}

.reg-form-container {
    width: 65%;
    background-color: #e2e2e2;
}

.reg-form {
    margin-block: auto;
}

.reg-info {
    width: 35%;
    text-align: center;
}