.footer {
    height: auto;
    width: 100%;
    background-color: #f8f8f8;
    border-top: solid 1px #E8E8E8;
}

.footer-container {
    width: 80%;
    display: flex;
    margin: auto;
}

.footer-column {
    text-align: left;
    flex: 1;
}

.footer-col-elements {
    list-style: none;
    padding: 0;
    margin: 0;
}
