.header {
    height: 100px;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: solid 1px #E8E8E8;
}

.header-container {
    width: 80%;
    display: flex;
    margin: auto;
}

.header-logo {
    flex: 1;
}